.container{
  height: 100%;
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #22313F;
  border-radius: 4px;
  border-radius: 10px;
}
.hamburguesa{
  height: 55%;
  display: flex;
  justify-content: center;
}

.hamburguesa img{
  border-radius: 10px;
}

.titulo{
  height: 45%;

}
