.container-foto{
    display: flex;
    width: 22vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.foto{
    height: 90%;
    width: 150px;
    background: #c70d13;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.foto img{
    height: 80%;
    width: 95%;
    border-radius: 10px;
}
