<div class="container-foto">
    <div class="foto">
        <img src="../../../../assets/assetsBela/yo.png">
    </div>
    <div class="name">
        <h2>Belaunzaran Fiorentini Josel</h2>
    </div>
</div>
