<div class="card">
    <div class="face front">Pelicula favorito 🎬 </div>
    <div class="face back">
        <img id="pelicula" src="../../../../assets/assetsEfrain/pacific rim.jpg">
        <h1 id="pacific">Pacific Rim</h1>
    </div>
</div>