<div class="container-principal">
    <div class="container-item">
        <h1>Pelicula Favorita</h1>
    </div>
    <div class="container-img container-item">
        <img src="../../../../../assets/assestsHarumi/pelicula.jpeg" alt="">
    </div>
</div>