.principal-container-bandr{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.bandr{
    height: 65%;
    width: 90%;
}
.bandr img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.banda-name{
    height: 35%;
}