.container-balon{
    display: flex;
    width: 22vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.foto-balon{
    height: 95%;
    width: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.foto-balon img{
    height: 80%;
    width: 60%;
    border-radius: 10px;
}
.name-balon{
    height: 45%;
}
