<div class="container">
  <div class="letras">
    <h3>
      Pasatiempo
    </h3>
  </div>
  <div class="dibujo">
    <img src="../../../../assets/assetsKirby/amongusnalgon.jpeg" alt="">
  </div>
</div>
