<div class="card">
    <div class="face front">Banda favorito 🎵 </div>
    <div class="face back">
        <img id="imagen" src="../../../../assets/assetsEfrain/the lumineers.jpg">
        <h1 id="texto">The Lumineers</h1>
    </div>
</div>