.photo-container {
    display: flex;
    width: 10%;
    height: 100%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

#profile {
    border-radius: 100%;
    width: 15vh;
}