<div class="card">
    <div class="face front">Color favorito 🌟 </div>
    <div class="face back">
        <img id="color" src="../../../../assets/assetsEfrain/azul.jpg">
        <h1 id="azul">Azul</h1>
    </div>
</div>