.principal-container-hobby{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 10px;
}
.hobby{
    height: 65%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobby img{
    height: 100%;
    width: 90%;
    border-radius: 10px;
}
.hobby-title{
    height: 35%;
}