<div class="container-principal">
  <div class="container-item bela">
    <app-foto></app-foto>
    <app-musica></app-musica>
    <app-colorito></app-colorito>
    <app-hobbies></app-hobbies>
    <app-amigos></app-amigos>
  </div>

  <div class="container-item alvaro">
    <app-photo></app-photo>
    <app-color></app-color>
    <app-cancion></app-cancion>
    <app-banda></app-banda>
    <app-pelicula></app-pelicula>
    <app-hobby></app-hobby>
  </div>

  <div class="container-item kirbi">
    <app-fotomia></app-fotomia>
    <app-comida></app-comida>
    <app-tacofavorito></app-tacofavorito>
    <app-personajefav></app-personajefav>
    <app-animalfavorito></app-animalfavorito>
    <app-pasatiempo></app-pasatiempo>

  </div>

  <div class="container-item efra">
    <app-photo-ejm></app-photo-ejm>
    <app-info-ejm></app-info-ejm>
    <app-color-ejm></app-color-ejm>
    <app-hobby-ejm></app-hobby-ejm>
    <app-pelicula-ejm></app-pelicula-ejm>
    <app-banda-ejm></app-banda-ejm>
  </div>

  <div class="container-item haru">
    <app-foto-h></app-foto-h>
    <app-nombre-h></app-nombre-h>
    <app-color-h></app-color-h>
    <app-comida-h></app-comida-h>
    <app-banda-h></app-banda-h>
    <app-pelicula-h></app-pelicula-h>
  </div>

  <div class="container-item rigo">
    <app-foto-r></app-foto-r>
    <app-nombre-r></app-nombre-r>
    <app-color-r></app-color-r>
    <app-fiesta-r></app-fiesta-r>
    <app-pelicula-r></app-pelicula-r>
  </div>
</div>
