.container-foto{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c70d13;
    border-radius: 4px;
    border-radius: 10px;
  }
  .foto{
    height: 55%;
    display: flex;
    justify-content: center;
  }
  
  .foto img{
    border-radius: 10px;
  }
  
  .name{
    height: 45%;
  }
  