<div class="principal-container-pelicula">
    <div class="pelicula-title">
        <h2>Película favorita</h2>
    </div>
    <div class="portada">
        <img src="../../../../assets/assetsAlvaro/underworld.jpg" alt="">
    </div>
</div>