<div class="container">
  <div class="letras">
    <h3>
      Animal favorito
    </h3>
  </div>
  <div class="pochita">
    <img src="../../../../assets/assetsKirby/pochita.jpeg" alt="">
  </div>
</div>
