<div class="container-principal">
    <div class="container-item">
        <h1>Saga favorita:</h1>
    </div>
    <div class="container-img">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XyZ9YtwpQzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>