*{
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}

.container-principal{
    background-color: burlywood;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
}

.container-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container-img iframe{
    display: flex;
    height: 50%;
    width: 100px;
    border-radius: 5%;
}