<div class="container-cloto">
    <div class="cloto">
        <img src="../../../../assets/assetsBela/verde.png">
    </div>
    <div class="name">
        <h2>Verde sable de luz  </h2>
    </div>
</div>
