*{
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}

.container-principal{
    background-color: burlywood;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5%;
}

.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}