<div class="container">
  <div class="letras">
    <h3>
      Personaje favorito
    </h3>
  </div>
  <div class="kirby">
    <img src="../../../../assets/assetsKirby/kirbyaudifonos.jpeg" alt="">
  </div>
</div>
