.container-principal-color{
    color: #000;
    display: flex;
    height: 100%;
    width: 14vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
}
.container-color{
    height: 45%;
    width: 30%;
    border-radius: 50%;
    background: #AA33DD;
}