.container{
  display: flex;
  width: 22vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foto{
  background-size: cover;
/*   right: 50px; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;

}
.foto img{
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 65%;
  border-radius: 50%;
  border: 3px solid #949599;

}
.letras{
  left: 20px;
  position: relative;
}
