.container-pochita{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #22313F;
    border-radius: 4px;
  }
  .pochita{
    height: 55%;
    display: flex;
    justify-content: center;
  }
  
  .pochita img {
    border-radius: 10px;
  }
  
  .letras-pochita{
    height: 45%;
  }
  