<div class="container">
  <div class="letras">
    <h3>
      Taco favorito
    </h3>
  </div>
  <div class="taco">
    <img src="../../../../assets/assetsKirby/tacomilanesa.jpg" alt="">
  </div>
</div>
