.card {
    --rotationY: 0deg;
    width: 150px;
    height: 100%;
    position: relative;
    border-radius: 25px;
    perspective: 1000px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    backface-visibility: hidden;
    transition: transform 800ms;
}

.face.front {
    background-color: #0077b6;
    transform: rotateY(var(--rotationY));
}

.face.back {
    background-color: rgb(35, 56, 126);
    transform: rotateY(calc(var(--rotationY) - 180deg));
}

.card:hover {
    --rotationY: 180deg;
}

#imagen {
    width: 100%;
    position: relative;
}

#texto {
    position: absolute;
    font-size: 18px;
    bottom: 70%;
}