.container-dibujo{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #22313F;
    border-radius: 4px;
  }
.dibujo{
    height: 55%;
    display: flex;
    justify-content: center;
  }
  
.dibujo img {
    border-radius: 10px;
  }
  
.letras-dibujo{
    height: 45%;
  }
  