<div class="container-principal">
    <div class="container-item">
        <h1>Comida favorita</h1>
    </div>
    <div class="container-img container-item">
        <img src="../../../../../assets/assestsHarumi/comida.jpg" alt="">
    </div>
</div>