<div class="principal-container">
    <div class="photoAlbum">
        <img class="song" src="../../../../assets/assetsAlvaro//photoalbum.jpg" alt="">
        <div class="botones">
            <img src="../../../../assets/assetsAlvaro/play.png" alt="" (click)="reproducirCancion()" class="btn">
        </div>
    </div>
</div>