.principal-container{
    height: 100%;
    width: 14vw;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}
.photoAlbum{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.song{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.botones{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25%;
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.botones:hover{
    cursor: pointer;
}
.botones img{
    height: 35px;
}