<div class="container-principal">
    <div class="container-item">
        <h1>Grupo favorito</h1>
    </div>
    <div class="container-img container-item">
        <img src="../../../../../assets/assestsHarumi/yo.png" alt="">
    </div>
</div>