.container-photo{
    display: flex;
    width: 22vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.photo{
    height: 90%;
    width: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.photo img{
    height: 80%;
    width: 60%;
    border-radius: 10px;
}
