<div class="card">
    <div class="face front">Hobby🌟 </div>
    <div class="face back">
        <img id="imagen" src="../../../../assets/assetsEfrain/peliculas.jpeg">
        <h1 id="texto">Peliculas/Series</h1>
    </div>
</div>