.container-video{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #22313F; */
    background: #c70d13;
    border-radius: 4px;
    border-radius: 10px;
  }
  .boton {
    position: relative;
    top: -50px;
    right: 100px;
  }