<div class="video">
    <video id="my-video" width="320" height="135">
        <source src="assets/assetsBela/hobbie.mp4" type="video/mp4">   
    </video>
    <button class="boton" (click)="toggleFullscreen()">Fullscreen</button>
</div>