<div class="info-container">
    <div id="name">
        <h2 id="nombre">Efrain Juarez Mendoza</h2>
    </div>
    <div class="more-info">
        <p>21 años</p>
        <p><b>"Manten tus sueños vivos✨✨"</b></p>
    </div>
</div>