<div class="principal-container-band">
    <div class="banda-title">
        <h2>Easy Life</h2>
    </div>
    <div class="band">
        <img src="../../../../assets/assetsAlvaro/easy-life.jpg" alt="">
    </div>
</div>
