.principal-container-band{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 10px;
}
.band{
    height: 65%;
    width: 90%;
}
.band img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.banda-title{
    height: 35%;
}