<div class="container-photo">
    <div class="photo">
        <img src="../../../../assets/assetsAlvaro/alvaro.jpeg" alt="" srcset="">
    </div>
    <div class="name">
        <h2>Álvaro Isaías Espíndola Torres</h2>
    </div>
</div>
