*{
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}

.container-principal{
    height: 100%;
    display: flex;
    border-radius: 5%;
    justify-content: left;
}

.container-item{
    display: flex;
    height: 100%;
    width: 100px;
    justify-content: center;
}