.container-principal-colorz{
    color: #000;
    display: flex;
    height: 100%;
    width: 14vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: white;
}
.container-colorz{
    height: 45%;
    width: 30%;
    border-radius: 50%;
    background: white;
}