<div class="container-principal">
    <div class="container-item">
        <h1>Fiesta favorita:</h1>
    </div>
    <div class="container-img container-item">
        <img src="../../../../../assets/assetsRigo/nav.jpg" alt="">
    </div>
</div>