*{
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}

.container-principal{
    background-color: burlywood;
    height: 100%;
    display: flex;
    align-items: center;

    border-radius: 5%;
}

.container-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container-img img{
    display: flex;
    height: 70%;
    width: 70px;
    border-radius: 5%;
}