.container-fotito{
    display: flex;
    width: 22vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.foto{
    height: 90%;
    width: 150px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.foto img{
    position:relative;
    left: 22px;
    height: 80%;
    width: 100%;
    border-radius: 10px;
}
