<div class="principal-container-hobby">
    <div class="hobby-title">
        <h2>Hobby</h2>
    </div>
    <div class="hobby">
        <img src="../../../../assets/assetsAlvaro/dubov.jpeg" alt="">
    </div>
</div>
