/*! No le muevan */
.container-principal {
  height: 130vh;
  width: 100vw;
  background: #252525;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container-item {
  width: 100%;
  height: 16.66%;
  border: 1px solid #0000FF;
}

/*! No le muevan */

.alvaro {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}

.efra {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}


.kirbi{
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rigo {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}
.bela{
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
}
.haru {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}