.container-taco{
    height: 100%;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #22313F;
    border-radius: 4px;
}

.taco{
    height: 55%;
    display: flex;
    justify-content: center;
}

.taco img{
    border-radius: 10px;
}

.letras-taco{
    height: 45%;
}
